body{
    margin: 0;
    background-image: url('./bkGif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#clock{
    font: bold 4rem monospace;
    text-align: center;
    backdrop-filter: blur(5px);
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 25px;
}

#clock-container img{
    
    width:70px;
    
    justify-content: center;
    top: 0;
    
}

